<!DOCTYPE html>
<head>
  <title>Jade</title>
  <link rel="stylesheet" href="../public/stylesheets/w3.css"/>
</head>

<body>
  <form class="w3-container" action="" method="POST">
    <label for="tit"><b>Título</b></label>
    <input class="w3-input w3-border" type="text" name="tit" maxlength="30" id="tit" required/>
    <br/>
    <label for="musico">Músico</label>
    <input type="text" name="musico" maxlength="30" id="musico" required/>
    <br/>
    <label for="local">Local</label>
    <input type="text" name="local" maxlength="30" id="local"/>
    <br/>
    <input class="w3-btn w3-blue-grey" type="submit" value="Registar"/>
    <input class="w3-btn w3-blue-grey" type="reset" value="Limpar valores"/> 
  </form>
</body>