doctype html
html
  head
    title Músicas
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    .w3-top
      .w3-bar.w3-black
        a.w3-bar-item.w3-button(href='/musicas') Home
        a.w3-bar-item.w3-button(href='/musicas/inserir') Inserir
    block content
