extends layout

block content
  .w3-container.w3-teal
    h1 Classes da Lista Consolidada
  .w3-container
    h3
      b Número de classes (nível 1): 
      = q
    table.w3-text-black.w3-table.w3-bordered.w3-striped.w3-centered(style='margin-bottom: 70px;')
      tr 
        th Título
        th Código
      each c in cs 
        tr
          td= c.titulo
          td
            a(href="http://localhost:4000/classes/" + c.codigo)= c.codigo

  div.w3-teal.w3-padding-16(style='position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;')
    span [RPCW2022] Realizado por João Pereira PG47325
