doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src='https://kit.fontawesome.com/a076d05399.js')
    script(src="/javascripts/jquery-3.6.0.min.js")
    //- script(src="/javascripts/increment_like.js")
  body
    block content
