extends layout 

block content
  include navbar.jade
  .w3-container
    h1.w3-center LOGS

    if logs.length > 0
      .w3-container
          table.w3-table-all
            each log in logs
              tr.w3-center
                td.w3-center 
                  b #{log.user} 
                  | #{log.movimento} a #{log.data}
                td
                  a.w3-btn.w3-red.w3-right(href="/logs/delete/"+log.id class="fas fa-trash")
    else
      p.w3-center Ainda não existe registo de logs